body {
	background-color: #FFFFDE;
	color: #5A0000;
	font-family: sans-serif;
}

nav ul {
list-style:none;
padding:0;
}
nav ul li {
display:inline;
}

h1 {
	font-style: italic;
	color: purple;
}

label span {
	background-color: red;
	border-bottom-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	box-shadow: 5px 5px #777777;
	margin-left: 0.5em;
	padding: 0.5em;
	color: white;
}

label span:empty {
	display: none;
}

input, textarea {
	display: block;
	margin-top: 0.2em;
	margin-bottom: 1em;
	font-size: 1.1em;
}

input[type='checkbox'] {
	display: inline;
}

input:focus, textarea:focus, select:focus {
	background-color: #FFFFD6
}

.meisjes {
background-color: #FFCCFF;
color: #FF0066;
}
.jongens {
background-color: #CCFFFF;
color: #3300FF;
}
